input[type="button"],
input[type="button"]:active,
input[type="button"]:focus {
  outline: none;
  cursor: pointer;
}
html {
  --repeat-val: 4;
  --grid-size: 148px;
}
.header a {
  text-decoration: none;
  color: white;
}

ul {
  margin: 0;
  padding: 0;
}

header {
  height: 64px;
  background-color: #2196f3;
}

nav {
  position: absolute;
  left: 232px;
  top: -3px;
  width: 288px;
  height: 64px;
  padding: 11px 0 9px 0;
}

.nav-list {
  list-style: none;
  display: flex;
  width: 288px;
  height: 64px;
  height: 100%;
  color: white;

  font-family: "Arial";
  font-size: 14px;
}

.nav-item {
  justify-content: space-between;
  width: 96px;
  text-align: center;

  padding-top: 20px;
}

.nav-list a:hover,
.active-nav {
  background-color: #1E88E5;
}

.startGame:hover {
  color: red;
}

.startGame,
.matchMatch {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;

  position: absolute;
  width: 122px;
  height: 36px;
  right: 98px;
  top: 20px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 16px;

  background: #f2f9fe;

  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2), 0px 1px 18px rgba(0, 0, 0, 0.12),
    0px 6px 10px rgba(0, 0, 0, 0.14);
  border-radius: 4px;
  border: 1px solid #f2f9fe;

  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 15px;
  color: #2196f3;
}

.matchMatch {
  left: 30px;
}
